@use '../../index.scss' as *;

@mixin button {
  font-family: $font-family;
  background-color: transparent;
  border: 1px solid $track-background;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-time;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    background-color: $neutral-background;
    border: 2px solid $neutral-background;
    color: $primary-color;
  }

  &[hidden] {
    display: none;
  }
}

.basic {
  @include button;
  & {
    color: $accent-color;
    border: 2px solid $accent-color;
    padding: 0.342rem 1.52rem;
    min-width: 120px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $accent-color;
      color: $primary-color;
    }
  }

  .icon {
    height: 1.25rem;
    svg {
      height: 100%;
    }
  }
}

.basic-race {
  @include button;
  & {
    color: $race-color;
    border: 2px solid $race-color;
    padding: 0.342rem 1.52rem;
    min-width: 120px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $race-color;
      color: $primary-color;
    }
  }
}

.action {
  @include button;
  & {
    width: 1.54rem;
    height: 1.54rem;
    box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
    border: 2px solid $race-color;

    &:hover {
      background-color: $race-color;
    }
  }
}

.select {
  @include button;
  & {
    color: $primary-color;
    border: 1px solid $track-background;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    padding-right: 0.78rem;
    transition: all 0.4s ease-out;
  }

  .icon {
    height: 1.05rem;
    padding-right: 0.3rem;
    svg {
      height: 100%;
    }
  }

  &:hover {
    color: $dark-accent;
    background-color: $primary-color;
  }

  &:hover .icon svg {
    fill: $dark-accent;
  }
}
