@use '../../index.scss' as *;

@mixin text-decoration {
  text-decoration: underline 0.1rem;
  text-underline-offset: 0.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-weight: 500;
}

.navigation-list {
  display: flex;
  gap: 1.05rem;

  li {
    list-style: none;
  }
}

.logo {
  color: $accent-color;
  font-weight: 700;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.nav-link {
  color: $accent-color;
  font-weight: 500;
  font-size: 1.05rem;
  transition: all 0.4s;

  &:hover {
    @include text-decoration;
  }
}

.current {
  @include text-decoration;
}
