@use '../../index.scss' as *;

.table {
  width: 100%;
}

.table-head {
  width: 100%;
  background-color: $table-header;
}

th {
  padding: 0.8rem;
}

.table-row {
  &:nth-of-type(odd) {
    background: $track-background;
  }
}

.table-row-item {
  position: relative;
  padding: 0.8rem 1rem;

  svg {
    width: 100%;
    max-width: 110px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.table-head-item.asc {
  position: relative;
  cursor: pointer;

  &::after {
    content: '^';
    transform: rotate(180deg);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0;
  }
}

.table-head-item.desc {
  position: relative;
  cursor: pointer;

  &::after {
    content: '^';
    
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0;
  }
}
