@use '../../index.scss' as *;

.race-track-wrapper {
  margin-bottom: 0.5rem;
}

.race-track-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.car-name {
  font-weight: 500;
}

.car-btn-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.race-track {
  width: 100%;
  background-color: $track-background;
  border-bottom: 2px dashed $primary-color;
  padding: 0 0.23rem;

  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 5rem;
    background-image: url('../../assets/flag.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 2.7rem;
  }
}

.race-btn-container {
  display: flex;
  gap: 0.3rem;
}
